@font-face {
    font-family: "AmsiPro-Bold";
    src: url("/fonts/AmsiPro-Bold.otf") format("opentype");
    src: url("/fonts/AmsiPro-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "AmsiPro-Black";
    src: url("/fonts/AmsiPro-Black.otf") format("opentype");
    src: url("/fonts/AmsiPro-Black.ttf") format("truetype");
}

@font-face {
    font-family: "AmsiPro-Ultra";
    src: url("/fonts/AmsiPro-Ultra.otf") format("opentype");
    src: url("/fonts/AmsiPro-Ultra.ttf") format("truetype");
}
