@font-face {
    font-family: 'AmsiProNarw';
    src: url('AmsiProNarw-Regular.eot');
    src: url('AmsiProNarw-Regular.eot?#iefix') format('embedded-opentype'),
        url('AmsiProNarw-Regular.woff2') format('woff2'),
        url('AmsiProNarw-Regular.woff') format('woff'),
        url('AmsiProNarw-Regular.ttf') format('truetype'),
        url('AmsiProNarw-Regular.svg#AmsiProNarw-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmsiProNarw';
    src: url('AmsiProNarw-Bold.eot');
    src: url('AmsiProNarw-Bold.eot?#iefix') format('embedded-opentype'),
        url('AmsiProNarw-Bold.woff2') format('woff2'),
        url('AmsiProNarw-Bold.woff') format('woff'),
        url('AmsiProNarw-Bold.ttf') format('truetype'),
        url('AmsiProNarw-Bold.svg#AmsiProNarw-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

